html {
    height: 100%;    
}

body {
    background-color: #d3d7db; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu",sans-serif;
    margin: 0;
    height: 100%;
}

main {
    padding: 0px 20px 30px; 
    display: flex; 
    gap: 55px;
    justify-content: space-evenly;
}

.container {
    min-width: 200px; 
    max-width: 900px; 
    background-color: white; 
    border-radius: 40px; 
    padding: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.title {
    display: flex;
    background: linear-gradient(90deg, rgba(240, 221, 148, 1) 36%, rgba(249, 167, 130, 1) 100%);
    margin: 0px;
    justify-content: center;
    border-radius: 30px;
}

.title h1 {
    text-align: center; 
    color: #17202b;
}

.head-profile {
    display: flex; 
    justify-content: center;
}

.img-profile {
    max-width: 400px; 
    min-width: 250px; 
    align-content: center;

    & img {
        width: 100%;
    }
}

.about-profile {
    align-content: center; 
    margin-right: 20px;  
    
    & ul {
        padding: 0px 0px 0px 20px;
    }
}

.about-me {
    margin-right: 20px;

    & p {
        text-align: justify;
    }
}

.main-info {
    justify-content: center;

    & h2 {
        height: 40px;
    }

    & ul {
        list-style-type: none;
        padding: 0;
    }

    & li {
        font-weight: bold;
    }
}

table {
    width: 100%;
    border: 1px solid black; 
    border-collapse: collapse;

    & tr, td, th {
        border: 1px solid black;
        padding: 5px;
    }
}
